<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PubSubServiceHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PubSubServiceHost.Properties.Settings>
            <setting name="SBNamespace" serializeAs="String">
                <value>YOUR_SERVICE_BUS_NAMESPACE</value>
            </setting>
            <setting name="SBListenerCredentials" serializeAs="String">
                <value>SYMMETRIC_KEY_FOR_WPFSAMPLE_IDENTITY_FROM_ACS_PORTAL</value>
            </setting>
        </PubSubServiceHost.Properties.Settings>
    </applicationSettings>
</configuration>