<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SBNamespace" value="YOUR_SERVICE_BUS_NAMESPACE"/>
    <add key="SBGuestCredentials" value="SYMMETRIC_KEY_FOR_GUEST_IDENTITY_FROM_ACS_PORTAL" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
